$textColor: #fff;
$secondaryTextColor: #000;

$colorGradient1: #acd604;
$colorGradient2: #f7ff06;
$colorGradient3: #f3830b;
$colorGradient4: #ff003c;
$colorGradient5: #ff0000;

$corButton: rgb(247, 146, 4);